{% extends 'base.html.twig' %}

{% block title %}Liste des bureaux de vote{% endblock %}

{% block body %}
    <h1>Liste des bureaux de vote</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Bureau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bureau in bureaus %}
            <tr>
                <td>{{ bureau.id }}</td>
                <td>{{ bureau.bureau }}</td>
                <td>
                    <a href="{{ path('bureau_show', {'id': bureau.id}) }}">voir</a>
                    <a href="{{ path('bureau_edit', {'id': bureau.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(bureaus) }}
    </div>

    <a href="{{ path('bureau_new') }}">Ajouter</a>
{% endblock %}
