{% extends 'base.html.twig' %}

{% block title %}Bureau{% endblock %}

{% block body %}
    <h1>Bureau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bureau.id }}</td>
            </tr>
            <tr>
                <th>Bureau</th>
                <td>{{ bureau.bureau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bureau_index') }}">Retour</a>

    <a href="{{ path('bureau_edit', {'id': bureau.id}) }}">Modifier</a>

    {{ include('bureau/_delete_form.html.twig') }}
{% endblock %}
