{% extends 'base.html.twig' %}

{% block title %}Liste des type de vote{% endblock %}

{% block body %}
    <h1>Liste des type de vote</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.id }}</td>
                <td>{{ vote.type }}</td>
                <td>
                    <a href="{{ path('vote_show', {'id': vote.id}) }}">voir</a>
                    <a href="{{ path('vote_edit', {'id': vote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(votes) }}
    </div>

    <a href="{{ path('vote_new') }}">Ajouter</a>
{% endblock %}
