{% extends 'base.html.twig' %}

{% block title %}Liste des communes{% endblock %}

{% block body %}
    <h1>Liste des communes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commune</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commune in communes %}
            <tr>
                <td>{{ commune.id }}</td>
                <td>{{ commune.commune }}</td>
                <td>
                    <a href="{{ path('commune_show', {'id': commune.id}) }}">voir</a>
                    <a href="{{ path('commune_edit', {'id': commune.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(communes) }}
    </div>

    <a href="{{ path('commune_new') }}">Ajouter</a>
{% endblock %}
