{% extends 'base.html.twig' %}

{% block title %}Population index{% endblock %}

{% block body %}
    <h1>Population index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Population</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for population in populations %}
            <tr>
                <td>{{ population.id }}</td>
                <td>{{ population.population }}</td>
                <td>
                    <a href="{{ path('population_show', {'id': population.id}) }}">show</a>
                    <a href="{{ path('population_edit', {'id': population.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(populations) }}
    </div>

    <a href="{{ path('population_new') }}">Create new</a>
{% endblock %}
