{% extends 'base.html.twig' %}

{% block title %}Resultat index{% endblock %}

{% block body %}
    <h1>Resultat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resultat in resultats %}
            <tr>
                <td>{{ resultat.id }}</td>
                <td>{{ resultat.nombre }}</td>
                <td>{{ resultat.CreatedAt ? resultat.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('resultat_show', {'id': resultat.id}) }}">show</a>
                    <a href="{{ path('resultat_edit', {'id': resultat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(resultats) }}
    </div>

    <a href="{{ path('resultat_new') }}">Create new</a>
{% endblock %}
