{% extends 'base.html.twig' %}

{% block title %}Liste des modes{% endblock %}

{% block body %}
    <h1>Liste des modes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode in modes %}
            <tr>
                <td>{{ mode.id }}</td>
                <td>{{ mode.mode }}</td>
                <td>
                    <a href="{{ path('mode_show', {'id': mode.id}) }}">voir</a>
                    <a href="{{ path('mode_edit', {'id': mode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistremnet trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(modes) }}
    </div>

    <a href="{{ path('mode_new') }}">Ajouter</a>
{% endblock %}
