{% extends 'base.html.twig' %}

{% block title %}Mode{% endblock %}

{% block body %}
    <h1>Mode</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mode.id }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ mode.mode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mode_index') }}">Retour</a>

    <a href="{{ path('mode_edit', {'id': mode.id}) }}">Modifier</a>

    {{ include('mode/_delete_form.html.twig') }}
{% endblock %}
