{% extends 'base.html.twig' %}

{% block title %}Liste des messages{% endblock %}

{% block body %}
    <h1>Liste des messages</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Expeditaire</th>
                <th>Destinataire</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.message }}</td>
                <td>{{ message.expeditaire }}</td>
                <td>{{ message.destinataire }}</td>
                <td>{{ message.status }}</td>
                <td>
                    <a href="{{ path('messages_show', {'id': message.id}) }}">voir</a>
                    <a href="{{ path('messages_edit', {'id': message.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(messages) }}
    </div>

    <a href="{{ path('messages_new') }}">Ajouter</a>
{% endblock %}
