{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <h1>Messages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ message.message }}</td>
            </tr>
            <tr>
                <th>Expeditaire</th>
                <td>{{ message.expeditaire }}</td>
            </tr>
            <tr>
                <th>Destinataire</th>
                <td>{{ message.destinataire }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ message.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('messages_index') }}">Retour</a>

    <a href="{{ path('messages_edit', {'id': message.id}) }}">Modifier</a>

    {{ include('messages/_delete_form.html.twig') }}
{% endblock %}
