{% extends 'base.html.twig' %}

{% block title %}Liste des tours{% endblock %}

{% block body %}
    <h1>Liste des tours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
            <tr>
                <td>{{ tour.id }}</td>
                <td>{{ tour.tour }}</td>
                <td>
                    <a href="{{ path('tour_show', {'id': tour.id}) }}">voir</a>
                    <a href="{{ path('tour_edit', {'id': tour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tours) }}
    </div>

    <a href="{{ path('tour_new') }}">Ajouter</a>
{% endblock %}
