{% extends 'base.html.twig' %}

{% block title %}Liste des Regions{% endblock %}

{% block body %}
    <h1>Liste de Regions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Region</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.region }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}">voir</a>
                    <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(regions) }}
    </div>

    <a href="{{ path('region_new') }}">Ajouter</a>
{% endblock %}
