{% extends 'base.html.twig' %}

{% block title %}Liste des Provinces{% endblock %}

{% block body %}
    <h1>Liste des Provinces</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Province</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for province in provinces %}
            <tr>
                <td>{{ province.id }}</td>
                <td>{{ province.province }}</td>
                <td>
                    <a href="{{ path('province_show', {'id': province.id}) }}">voir</a>
                    <a href="{{ path('province_edit', {'id': province.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(provinces) }}
    </div>

    <a href="{{ path('province_new') }}">Ajouter</a>
{% endblock %}
