{% extends 'base.html.twig' %}

{% block title %}Liste des nombres d'electeurs{% endblock %}

{% block body %}
    <h1>Liste des nombres d'electeurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Electeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for electeur in electeurs %}
            <tr>
                <td>{{ electeur.id }}</td>
                <td>{{ electeur.electeur }}</td>
                <td>
                    <a href="{{ path('electeur_show', {'id': electeur.id}) }}">voir</a>
                    <a href="{{ path('electeur_edit', {'id': electeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(electeurs) }}
    </div>

    <a href="{{ path('electeur_new') }}">Ajouter</a>
{% endblock %}
